@mixin done-button {
  background-color: #35a630;
  color: white;
  border-color: #35a630 !important;

  &:hover,
  &:focus {
    background-color: #5db859;
    color: white;
  }
}

@mixin cancel-button {
  background-color: #ffb229;
  color: white;
  border-color: #ffb229 !important;

  &:hover,
  &:focus {
    background-color: #ffc926;
    color: white;
  }
}
