@mixin timeline-style {
  .ant-timeline {
    .ant-timeline-item {
      .ant-timeline-item-label {
        width: calc(60px - 12px) !important;
      }
      .ant-timeline-item-head,
      .ant-timeline-item-tail {
        left: 60px !important;
      }

      .ant-timeline-item-content {
        left: calc(60px - 4px) !important;
        width: 76% !important;
      }
    }
  }
}
