//
// Header
//

// Desktop Mode
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  height: 60px;
  position: sticky;
  width: 100%;
  top: 0;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.3);
  z-index: 3;
  padding: 0px 35px;

  > .page_title {
    font-size: 17px;
    font-weight: 500;

    span {
      text-transform: capitalize;
    }
  }
}

// Tablet & Mobile Modes
@include media-breakpoint-down(md) {
  .header {
    display: none;
  }
}
